body {
    margin: 0;
    background-color: black;
    --rowHeight: 15px;
  }

@font-face {
    font-family: code2000;
    src: url(sansation_light.woff);
  }

.wrapper {
    border-color: green;
    height: 85vh;
    color: greenyellow;
    font-family: "Liberation Mono";
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftColumn {
    border-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.menuItem {
    margin-top:10px;
    background-color: black;
    color: greenyellow;
    margin-right:30px;
    padding: 2px;
    height: var(--rowHeight);

}

.selectedMenuitem {
    padding: 2px;
    margin-top:10px;
    background-color: greenyellow;
    color: black;

    margin-right:30px;
    height: var(--rowHeight);

}

.rightColumn {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-content: stretch;

    margin-right:20px;
}

.button {
    margin-top: auto;
    margin-bottom: auto;
}

ul.menulist {
    padding: 0;
    list-style-type:none;
  }

#instructions {
    width: 100vw;
    margin-top:20px;
    text-align: center;
    color: greenyellow;
}

#mainMenu {
    min-width: 140px;
}

#beerCounter {
    min-width: 40px;
}

#beerVisual {
    min-width: 200px;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: 10px;
    color: greenyellow;
}